.tmp
/decompile/
/Wordiest_1.188_APKPure.apk
/.worktrees/
/.derivedData/
/.home/
/WordiestCore/.build/
/WordiestCore/.swiftpm/
/Wordiest.xcodeproj/xcuserdata/
/Wordiest.xcodeproj/project.xcworkspace/xcuserdata/
